/*
  HEADER START
*/

*{
    margin: 0%;
    padding: 0%;
}

header{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

header > .top-header{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.bottom-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.header-item{
    margin-left: 2vh;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
/*
    HEADER -END
*/

.container{
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.left > img{
    width: 30em;
    border-bottom-right-radius: 20%;
}

.left > figcaption{

    font-size: 3em;
    text-align: center;
}

.right{
    margin-left: 50px ;
}


.biography > p{
    margin-right: 5px;
    line-height: 1.5em;
}

.works > h1{
    margin-top: 10px;
}

.list-works{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-works > figure> img{
    border-radius: 10%;
    width: 10em;
    height: 13em;
    margin-right: 15px;
    margin-top: 15px;
}

.list-works > figure> figcaption{
    text-align: center;
}


@media (max-width: 800px) {
    .container{
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .left > img{
        width: 100%;
        border-bottom-right-radius: 0;
    }

    .left > figcaption{
        display: none;
    }
    .right{
        margin-left: 0;
        margin: 12px;
    }

    .biography > h1{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .biography > p{
        text-align: center;
        padding: 0%;
        margin: 0;
        line-height: 1.5em;
    }

    .works > h1{
        text-align: center;
    }

    .list-works{
        justify-content: space-around;
    }

    .list-works > figure> img{
        border-radius: 10%;
        margin-left: 1em;
        width: 5em;
        height: 7em;
    }
}

