/*
  HEADER START
*/

*{
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: "dearest";
    src: url(/fonts/Dearest.ttf);
}
header{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.top-header{
    font-family: "dearest";
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 3rem;
}
.bottom-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.header-item{
    margin-left: 2vh;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
/*
    HEADER -END
*/
body{
    font-family: "freight-text-pro",georgia,serif;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width:1000px;

}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section > h1{
    text-align: center;
    margin-top: 20px;
}

.text-block{
    width: 880px;
    line-height: 1.7;
    font-size: 1.1rem;
}

.image-container{
    display: flex;
    justify-content: center;
}

.image-container > img{

    max-width: 55em;
    margin-top: 20px;

}
#last-block{
    margin-bottom: 25px;
}



@media(max-width: 1000px){

    .container{
        width: 100%;
    }
    .header-item{
        margin-left: 1vh;
        margin-right: 1vh;
    }
    .bottom-header{
        font-size: 15px;
    }
    
    
    .image-container > img{

        max-width: 90%;
    
    }

    .text-block{
        width: 90%;
    }

}
