/*
  HEADER START
*/

*{
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: "dearest";
    src: url(/fonts/Dearest.ttf);
}
body{
    font-family: "freight-text-pro",georgia,serif;
}
header{
    display: flex;
    flex-direction: column;    
    align-items: center;
}
.top-header{
    font-family: "dearest";
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 3rem;
    color: #010101;
}

.bottom-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.header-item{
    margin-left: 2vh;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
/*
    HEADER -END
*/

.inferno, .purgatorio, .paradiso{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.inferno > img, .purgatorio > img, .paradiso>img{

    margin-top: 30px;
    margin-bottom: 30px;
    transition-duration: 2s;

}


img:hover{
    transform: scale(1.2);
}



@media(max-width: 800px){

    header{
        display: flex;
        width: 100%;
    }

    .bottom-header{
        justify-content: space-around;
    }
    .header-item{
        margin-left: 1vh;
        margin-right: 1vh;
    }
    
    .inferno > img, .purgatorio > img, .paradiso>img{
        width: 90%;
    }

}