*{
    margin: 0%;
    padding: 0%;
}

header{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

header > .top-header{

    margin-top: 3vh;
    margin-bottom: 3vh;
}

.bottom-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;

}

.header-item{

    margin-left: 2vh;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.image{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.inner{

    max-width: 50em;
    align-self: center;
    margin-top: 2em;
}

@media(max-width: 800px){


    .inner{
        width: 80%;
    }
    .bottom-header{
        width: 80%;
        justify-content: space-around;
    }

    .inner{
        width: 100%;
    }

}



