/*
  HEADER START
*/

*{
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: "dearest";
    src: url(/fonts/Dearest.ttf);
}

body{
    font-family: "freight-text-pro",georgia,serif;
}


header{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.top-header{
    font-family: "dearest";
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 3rem;
}

.bottom-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.header-item{
    margin-left: 2vh;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
/*
    HEADER -END
*/
.container{
    width: 70%;
    margin: 0 auto;
}

.image-container{
    display: flex;
    justify-content: center;
}

.inner-images{
    margin-top: 30px;
    margin-bottom: 30px;
}

.image-container > img{
    width: 45em;
}

.container > h1{
    margin-bottom: 15px;
    text-align: center;
}
.container > h2, h3{
    text-align: center;
    margin-top: 15px;
}

.quote > p{
    text-align: center;
    margin-top: 15px;
    margin: 0 auto;
    margin-top: 16px;
    width: 720px;
    line-height: 1.7;
    font-size: 1.1rem;
}

.space-bottom{

    margin-bottom: 500px;

}

@media (max-width: 800px) {

    .header-item{
        margin-left: 1vh;
        margin-right: 1vh;
    }
    

    .container{
        width: 100%;
    }
    .image-container > img{

        width: 90%;

    }

    .quote > p{
        width: 80%;
    }


}
